body {
  background:orange;
  padding: 0px;
  margin: 0px;
}
#game {
    padding: 20px;
}
#svg {
  float: left;
  width: 50%;
}
#gameInfo {
  padding: 2.5%;
  float: right;
  width: 45%;
}
#word {
    text-align: center;
    margin:auto;
}
#guesses {
  margin: 20px 0px;
  border: solid 1px darkslategrey;
  color: darkslategrey;
  height: 100px;
  text-align: center;
  font-size: 5em;
}
#message {
  font-size: 2em;
  padding: 20px;
}
.success {
  background: lightgreen;
  border: solid 1px green;
}
.error {
  background: lightsalmon;
  border: solid 1px red;
}
.underline{
  border-bottom: solid 5px black;
}
.letter {
  width: 7%;
  margin: 0 10px;
  text-align: center;
  font-size: 5em;
  color:orange;
  float: left;
}
.showLetter {
  color: black;
}
.clearfix {
  clear: both;
}


#model{
    background: black;
    color: white;
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px;

}
#model button{
    background: red;
    border: none;
    color: white;
    padding: 20px;
}
#model-outer{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    background: red;
}
#model-inner{
    text-align: center;
    padding: 20px;
}

.guess{
  background:white;
  color:black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
  border: solid 5px black;
  font-size: 4em;
  height: 100px;
  width: 100px;
  animation-name: guess;
  animation-duration: 1s;
  visibility: hidden;
}

@keyframes guess {
  0%   {visibility: visible}
  25%  {background-color:white;}
  50%  {background-color:yellow;}
  100% {visibility: hidden;}
}

.score{
  background: black;
  color:white;
  width: 50%;
  text-align: center;
  float:left;
  padding: 20px 0px;
}
.score:nth-child(2n){
  background:darkorange;
}
.score #wins, .score #losses{
  font-size: 10em;
}
