body {
  padding: 0px;
  margin: 0px;
}
#game {
    padding: 20px;
}
#svg {
  float: left;
  width: 50%;
}
#gameInfo {
    padding: 2.5%;
  float: right;
  width: 45%;
}
#word {
    background:red;
    text-align: center;
    margin:auto;
}
#guesses {
  background: darkslategrey;
  color: white;
  height: 100px;
  text-align: center;
  font-size: 5em;
}
#message {
  font-size: 2em;
  padding: 20px;
}
.success {
  background: lightgreen;
  border: solid 1px green;
}
.error {
  background: lightsalmon;
  border: solid 1px red;
}
.letter {
  width: 7%;
  margin: 0 10px;
  background: white;
  text-align: center;
  font-size: 5em;
  border-bottom: solid 5px black;
  color: white;
  float: left;
}
.showLetter {
  color: black;
}
.clearfix {
  clear: both;
}


#model{
    background: black;
    color: white;
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px;

}
#model button{
    background: red;
    border: none;
    color: white;
    padding: 20px;
}
#model-outer{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    background: red;
}
#model-inner{
    text-align: center;
    padding: 20px;
}